<h1>All Dealerships</h1>
<%= link_to "New Dealership","/dealerships/new" %>

<% @dealerships.each do |dealer| %>
  <p id="id_<%= dealer.id %>">Dealership name: <%= link_to dealer.name, "/dealerships/#{dealer.id}"%></p>
  <p>Created: <%= dealer.created_at %></p>
<% end %>