<h1>All Dealerships</h1>
<%= link_to "New Dealership","/dealerships/new" %>

<% @dealerships.each do |dealer| %>
  <div id="id_<%= dealer.id %>">
    <p>Dealership name: <%= link_to dealer.name, "/dealerships/#{dealer.id}"%></p>
    <p>Created: <%= dealer.created_at %></p>
  </div>
<% end %>