<h1>New Dealership</h1>

<form action="/dealerships" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="mb-3">
    <label for="name" class="form-label">Dealer name:</label>
    <input type="text" class="form-control" id="name" name='dealer[name]' required>
  </div>
  <div class="mb-3">
    <label for="lot_size" class="form-label">Dealer lot size:</label>
    <input type="text" class="form-control" id="lot_size" name='dealer[lot_size]' required>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="service_center" name='dealer[service_center]'>
    <label class="form-check-label" for="service_center">Dealer service center</label>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="car_wash" name='dealer[car_wash]'>
    <label class="form-check-label" for="car_wash">Dealer car wash</label>
  </div>
  <input type='submit' value="Create Dealership" class="btn btn-success"/>
</form>